:root {
    --main-bg-color: red;
    --main-border-color: black;
}

body {
    font-family: Arial;
    background-color: antiquewhite;
    background-image: url("../../images/charictature.jpg");
}


h1 {
    border: 20px;
    font-size: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
}

img {
    height: 400px;
    display: flexbox;
    justify-content: center;
}

.container {
    display: flex;
}

.sub-container {
    display: block;
    margin: 5px;
    padding: 15px;
    background-color: var(--main-bg-color);
    color: blue;
    width: 25%;
    border: var(--main-border-color)5px solid;
    text-align: center;
}

.sub-container:hover {
    border-color: aquamarine;
    color: purple;
    background-color: yellow;
}

.sub-container div p::first-letter {
    color: teal;
    font-family: cursive;
}

h1[data-secret]:hover::after {
    content: attr(data-secret);
    margin-top: 10px;
    color: yellow;
}

@media screen and (max-width: 600px) {

    .leftCol,
    .rightCol,
    .col3 {
        width: 100%;
    }
}