:root {
    --main-bg-color: red;
    --main-border-color: black;
}

header nav {
    display: block;
    background-color: green;
    color: white;
    border:100%;
}

.hero{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/Users/bryan/Documents/bootcamp/projects/dodge-this-challenger-ii/images/charictature.jpg");
    background-size: cover;
    background-position: center;
}
h1 { border: 20px;
    font-size: 10px;
}

header ul{display: block;
    font-size: 17px;
}

body {
    background-color: antiquewhite;
    font-family: Arial;
    display: flex;
}

h2 {
    align-items: right;
    display: block;

}

h3 {
    font-size: 20px;
    Padding: 20px;
}

#lefty {
    display: block;
}

p {
    justify-content: center;
    align-items: right;
}

img {
    height: 400px;
    display: inline-block;
    justify-content: center;
}

.sub-container {
    display: block;
    margin: 5px;
    padding: 15px;
    background-color: var(--main-bg-color);
    color: blue;
    width: 25%;
    border: var(--main-border-color)5px solid;
    text-align: center;
}

.sub-container:hover {
    border-color: aquamarine;
    color: purple;
    background-color: yellow;
}

.sub-container::first-letter {
    color: teal;
    font-family: cursive;
}

h1[data-secret]:hover::after {
    content: attr(data-secret);
    margin-top: 10px;
    color: yellow;
}