ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.row {
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.leftCol{
    width: 40%;
    border-style: solid;
    border-color: blue;
}

.rightCol{
    width: 55%;
    border-style: solid;
    border-color: orangered;
}

.col3{
    width: 30%;
    border-style: solid;
    border-color: purple;
}

@media screen and (max-width: 600px) {
    .leftCol, .rightCol, .col3{
      width: 100%;
    }
  }